.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: grey;
    text-align: center;
}

.row{
    margin: 0;
}

p{
    font-family:'Segoe UI';
    font-size: x-large;
}