.component{
    background-color: #F7DA80;
}

.imagePiPi{
    width: 55%; 
    height: auto;   
}

#logo{
    width: 55%; 
    height: auto;
}

.row{
    margin: 0;
}

.imageIcon{
    height: 30px;
    width: 30px;
    margin-top: 12px;
    margin-left: -3px;
}

#search{
    background-color: #F7DA80;
    border-radius: 25px;
}

.light-blue{
    background-color: #F7DA80;
}

nav .label-icon.active {
    color: white !important;
}

.imageSearch{
    height: 47px;
    width: 47px;
}

.titled {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 120px;
}

p{
    font-family:'Segoe UI';
    font-size: x-large;
}

.test{
    border-width: 1px;
    border-style: solid;
    border-color: magenta;
}