<div class="row component grey-text text-darken-2 valign-wrapper">
    <div class="col l2 left">
        <img class="imagePiPi" src="../../../assets/images/pipi_popo_cake.png"/>
    </div>
    <div class="col l1 pull-l1 left center-align" >
        <p>PiPi PoPo's <br> Bakery</p>
    </div>
    <nav class="component col l8 pull-l1">
        <div class="nav-wrapper">
          <form>
            <div class="input-field">
              <input id="search" class="component" type="search" required>
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
    </nav>
    <div class="col l1 pull-s1 center-align" >
        <a class="btn-floating btn-large waves-effect component"><img class="imageIcon" src="../../../assets/images/cart.png" /></a>    
    </div>
</div>
<div>
    Menu
</div>